<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <!-- Bootstrap theme -->
    <link href="@Url.Content("~/css/bootstrap-theme.min.css")" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="@Url.Content("~/css/mystyles.css")" rel="stylesheet"/>

 
    <script src="@Url.Content("~/js/jquery-2.2.0.min.js")"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>



</head>

<body>




@RenderBody()



</body>
</html>